@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Manrope', system-ui, -apple-system, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

::selection {
  background-color: rgba(116, 101, 84, 0.2);
  color: #1f1c19;
}
